<!DOCTYPE html>
<html>
<script src="./static/js/jquery.min.js"></script>
<script src="./static/js/vue.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>服务端</title>
</head>

<body>
    <div style="height:50px;border-bottom:1px solid #ccc">
        头部
        <!-- <input type="text" value="导出Excel" style="border:1px solid #ccc"> -->
    </div>
<script>
$(function(){
     new Vue({
        el: '#left',
        data(){
            return{
                 products: [],
                 changeId:"",
                 pagram:{
                    name:"",
                    price:""
                 }
                 
            }
           
        },
        methods: {
            login(e){
                e.preventDefault();
                let userName = document.getElementById("username").value;
                let password = document.getElementById("password").value;
                var namepw={
                    email:userName,
                    password:password
                }
                 $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: 'http://127.0.0.1:3001/api/user/signIn',
                    data: JSON.stringify(namepw)
                }).done(function (r) {
                   console.log(r)

               
                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            }
            ,
            register(e){
                e.preventDefault();
                let userName = document.getElementById("username").value;
                let password = document.getElementById("password").value;
                var namepw={
                    email:userName,
                    password:password
                }
                let that = this;
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: 'http://127.0.0.1:3001/api/user/signUp',
                    data: JSON.stringify(namepw)
                }).done(function (r) {
                   console.log(r)
                  // that.getProducts();
                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            }
             ,
            search(e){
               
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: 'http://127.0.0.1:3001/api/user/all',
                }).done(function (r) {
                   console.log(r)
                  // that.getProducts();
                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            }
           
        },
        mounted(){
            // this.getProducts();
            
        }
    });
   
});
</script>
<style>
    thead{
        width:500px;height:auto;
        background:#ccc;
        text-align:center;
    }
    td{
        width:100px;
        text-align: center;
        line-height:50px;
        border-bottom:1px solid #f5f5f5;
    }
    input{
        border:1px solid #ccc;
    }
</style>
<div id="left" >
    <input type="text" placeholder="用户名" id="username">
    <input type="password" placeholder="密码" id="password">
    <span v-on:click="login">请先登录</span>
    <span v-on:click="register">注册</span>
     <span v-on:click="search">查看</span>
</div>
<div style="line-height:50px;border-top:1px solid #ccc">
    尾部
</div>  
</body>

</html>